ROHAN KUMBHAR

PRN-25070123141


BRANCH-E&TC A2

EXP_7

In [ ]:
# print numbers from 1 to 10 and skip 5
i= 1
while i <= 10:
    if i == 5:
        i += 1
        continue
    print(i)
    i += 1

1
2
3
4
6
7
8
9
10

In [ ]:
# print only odd numbers from 1 to 10
i = 1
while i < 10 :
  print(i, end=' ')
  i += 2

1 3 5 7 9

### for loop

In [ ]:
#print numbers from 1 to 5
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#print even numbers from 1 to 10
for i in range(2,11,2):
  print(i,end=' ')

2 4 6 8 10

In [ ]:
# sum of first n number
n = int(input("enter a number: "))
sum = 0
for i in range(1,n+1):
  sum += i
print(sum)

enter a number: 5
15

In [ ]:
#nested for loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
# 3*3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j],end=' ')
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#multiplicaton of two 3*3 matricesn (most important)
A=[[1,2,3],[4,5,6],[1,2,1]]
B= [[1,1,1],[6,5,4],[3,2,1]]
Result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(3): #  rows of A
  for j in range(3): # columns of B
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]

print("product of matrices:")
for row in Result:
  print(row)

product of matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
# Pyhton Program to accept three digits and print all possible combination
d1 = 1
d2 = 2
d3 = 3
d = [d1,d2,d3]
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j] and d[j] != d[k] and d[k] != d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#Armstrong Number(153,370,371,407,1643)
num = int(input("Enter a number: "))

total = 0

for digit in str(num):
    total += int(digit) ** len(str(num))

if total == num:
    print("Armstrong Number")
else:
    print("Not Armstrong Number")

Enter a number: 153
Armstrong Number

In [ ]:
#print All prime number in given range
for num in range(2,50):
  for i in range(2,num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#INVERTED PYRAMID
n=5
for i in range(n):
  print(i*' ',(n-i)*'$ ')

 $ $ $ $ $
  $ $ $ $
   $ $ $
    $ $
     $

In [ ]:
#PYRAMID
n=5
for i in range(n):
  print((n-i)*' ',i*' $')

      $
     $ $
    $ $ $
   $ $ $ $

In [ ]:
#FLOLYD'S TRIANGLE
n = 4
num = 1
for i in range(1, n + 1):
  for j in range(1, i + 1):
    print(num, end=' ')
    num += 1
  print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
rows =5
for i in range(1, rows+1):
  for j in range(i):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#RIGTH ANGLED TRIANGLE
for i in range(1,6):
  print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
#INVERTED RIGTH ANGLE TRIANGLE
for i in range(5,0,-1):
  print("* "*i)

* * * * *
* * * *
* * *
* *
*